:root{
    --background-color:#FCF2FF;
    --reaction:rgb(255, 85, 85);
    --reaction-lght:rgba(255, 85, 85, 0.05);
    --memory:rgb(255, 176, 31);
    --memory-lght:rgba(255, 176, 31, 0.05);
    --verbal:rgb(0, 187, 143);
    --verbal-lght:rgba(0, 187, 143, 0.05);
    --visual:rgb(17, 37, 214);
    --visual-lght:rgba(17, 37, 214, 0.05);
    --btn-color:#303B59;
    --light-blue:#D9D9D9;
    --wht:#FFF;
    --main-font:'Bebas Neue', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

*::before, *::after{
    box-sizing:border-box;
}

body{
    font-family:var(--main-font);
    line-height:1.4;
    font-size:100%;
    width:100%;
    height:100vh;/*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=ffffff&c2=cadbeb&gt=l&gd=dtl
    */


    background: #FFFFFF;
    background: linear-gradient(135deg, #FFFFFF, #CADBEB);;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    color:var(--wht);
}

.color-lgt{
    color:var(--light-blue);
}





/* utillity classes */

.container{
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    display:flex;
    width:46rem;
    height:36rem;
}

.btn{
    background-color:var(--btn-color);
    color:#FFFFFF;
    border:none;
    border-radius:30px;
    padding:1rem 7rem;
    cursor:pointer;
    font-family:var(--main-font);
    font-size:1rem;
}

.result-card{
    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=375def&c2=2b26cc&gt=l&gd=dbb
    */
    background: #375DEF;
    background: linear-gradient(0deg, #375DEF, #2B26CC);;
    border-radius:25px;
    text-align: center;
    padding:43px 39px;
}

.result-card h3{
    margin-bottom:0.3rem;
    font-size:1.8rem;
}


#result-num{
    font-size:6rem;
}

.title{
    font-size:1.5rem;
    letter-spacing: 1px;
}


.result-circle{
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=29429e&c2=0d06e0&gt=l&gd=dtt
*/
    background: #29429E;
    background: linear-gradient(180deg, #29429E, #0D06E0);
    border-radius:50%;
    height:200px;
    width:200px;
    margin:2.56rem auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.your-performance{
    max-width:16.25rem;
    font-size:1.5rem;
}


.sum-num-btn-clr{
    color:var(--btn-color);
}

.num-group{
    color:var(--light-blue);
}

.num-group span{
    color:var(--btn-color);
}

.summary{
    padding:43px 39px;
    background-color: #fff;
    border-radius:25px;
}

.categories{
    display:flex;
    flex-direction:column;
    gap:1rem;
    margin:2.56rem 0;
}

.category{
    width:18rem;
    height:3.5rem;
    border-radius:15px;
    background-color:#00BB8F;
    display:flex;
    justify-content:space-between;  
    padding:20px 14px;
}



#reaction{
    color:var(--reaction);
    background-color:var(--reaction-lght);
}
#memory{
    color:var(--memory);
    background-color:var(--memory-lght);
}
#verbal{
    color:var(--verbal);
    background-color:var(--verbal-lght);
}
#visual{
    color:var(--visual);
    background-color:var(--visual-lght);
}